body{
    background-color: cadetblue;
    background-image: -moz-radial-gradient();
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-style: oblique;
    
}



button{
    background-color: peachpuff;
    width: 100px;
    height: 80px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}